<h1>Coffee Roasters</h1>

<ul>
<% @roasters.sort_by{|roaster| roaster.name}.each do |roaster|%>
    <li><a href="/roasters/<%= roaster.slug %>"><%= roaster.name %></a></li>
<% end %>
</ul>

<form action="/roasters/new" method="GET"> 
    <input type="submit" id="new_roaster" value="NEW ROASTER">
</form>

<a href="/cups">Home</a> | <a href="/logout">Log out</a>