<h1>Post a Roaster</h1>

<form action="/roasters" method="POST">
    <label>Coffee roasting company</label><br>
    <input type="text" name="roaster[name]" id="roaster_name">

    <br><br>

    <input type="submit">
</form>

<a href="/roasters">Coffee Roasters</a>
<br><br>
<a href='/cups'>Home</a> | <a href='/logout'>Log out</a>