<ul>
<% @cups.each do |cup|%>
    <li><%= cup.user.name %> had a cup of <%= cup.coffee.name %> on <%= cup.created_at %>.</li>
<% end %>
</ul>

<a href='/cups/new'>Sip a New Cup</a> 
<br><br>
 <a href='/logout'>Log out</a>